
body {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 2rem;
  background-color: #2f80ed;
  color: #ffffff;
}

.header-h1 {
  font-size: 1.5rem;
  margin: 0;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.carousel-images {
    background-color: white;
    border-radius: 2rem;
}

.footer {
    background-color: #f5f5f5;
    padding: 2rem;
    color: 333333;
}

